# Ignore Python cache
__pycache__/
*.pyc

# Ignore model and output files
models/
outputs/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment (if any)
venv/
.env/

# OS-specific
.DS_Store
Thumbs.db
